*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

li{
  list-style-type: none;
}

.app-intro{
  text-align: center;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 15rem 20rem;
  align-content: center;
  justify-content: center;
}

.app-intro img{
  width: 15rem;
  height: auto;
  margin: .5rem;
  padding: 1rem;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.699);
}

.app-intro p{
  font-size: 4rem;
  padding-top: 1rem;

}

.app-intro p span{
  letter-spacing: 4px;
  display: inline-block;
}

.app-title{
  font-weight: 600;
}

.app-intro .one-line{
  font-size: 1rem;
  font-weight: 200;
  grid-area: 2/2
}

.synopsis{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.synopsis p{
  width: 40rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 2rem;
}

.app-mockup {
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  height: 45rem;
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
  center / cover
    url(https://source.unsplash.com/collection/2479456/1600x900);
  filter: blur
}

ul{
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  color: white;
}

.left-side-clock {
  display: flex;
  margin-right: 2.5rem;
}

.app-landing{
  text-align: center;
}

.app-landing img {
  width: 13rem;
  margin-top: 4rem;
}

.app-landing h1{
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
}

.app-landing p{
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 2rem;
}


/*  bottom half  */


.bottom-half{
  text-align: center;
}

button {
  padding: 15px 0;
  width: 20rem;
  color: white;
  margin-bottom: 1rem;
  border-radius:60px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  border: none;
}

.log-in{
  background-color: white;
  color: black;
  cursor: pointer;
}

.sign-up{
  background-color: rgb(98, 174, 255);
}

.sign-up:hover{
  background-color: rgb(152, 202, 255);
  cursor: pointer;
}

.copyright{
  color: rgb(192, 192, 192);
  padding-top: 5px;;
  position: relative;
}

.copyright:hover:before{
  content: 'TootToot!';
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: .5rem;
  color: white;
  transform:rotate(15deg);
  bottom: 5px;
  left: 3rem;
}

.spinning-globe{
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 150px;
  margin-bottom: 2.5rem;
  left: 50%;
  background: center / cover  url(img/earth.png);
  box-shadow: inset 0 0 40px rgba(255, 255, 255,.5);
  position: relative;
  animation: 🗺️ 20s linear infinite;
}

@keyframes 🗺️{
  0%{
    background-position: 0 0;
  }

  100%{
    background-position: 719px 0;
  }
}